.analytics-dashboard { 
    background-color: whitesmoke;
    padding: 2%;
    color: black;
  }
.gapi-view-selector-container {
    display: flex;
    margin:auto;
    width: 40%;
}

.analytics-sign-out-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;   
    margin-bottom: 2%;
}